<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            overflow: hidden;
            margin: 0px;
        }
    </style>
</head>

<body>
    <canvas></canvas>

    <script>
        var colors =  ['gold', 'red', 'orange', 'yellow', 'blue', 'green', 'pink', 'purple']

        class Canvas {
            constructor(canvas) {
                this.canvas = canvas;
                this.ctx = canvas.getContext('2d');

                this.shapes = [];
                console.log(this.shapes);
            }

            addShape(shape) {
                this.shapes.push(shape);
            }

            removeShape(shape) {
                this.shapes = this.shapes.filter(s => s !== shape);
            }

            clear() {
                this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height);
            }

            draw() {
                this.clear();
                this.shapes.forEach(shape => shape.draw(this.ctx));
            }

            resize() {
                this.canvas.width = window.innerWidth;
                this.canvas.height = window.innerHeight;
            }
        }

        class Bot {
            constructor(x, y, radius, color) {
                this.x = x;
                this.y = y;
                this.radius = radius;
                this.color = color;

                // velocity
                this.dx = Math.floor(Math.random() * 9) + 1;
                this.dy = Math.floor(Math.random() * 9) + 1;
            }

            draw(ctx) {
                ctx.beginPath();
                ctx.arc(this.x, this.y, this.radius, 0, Math.PI * 2, false);
                ctx.fillStyle = this.color;
                ctx.fill();
                ctx.closePath();

                this.update();
            }

            update() {
                this.x += this.dx;
                this.y += this.dy;

                // bounce off walls
                if(this.x+this.radius >= window.innerWidth || this.x-this.radius <= 0){
                    this.dx = -1*this.dx;
                    this.color = colors[Math.floor(Math.random() * 8)]
                } 
                if(this.y+this.radius >= window.innerHeight || this.y-this.radius <= 0){
                    this.dy = -1*this.dy;
                    this.color = colors[Math.floor(Math.random() * 8)]
                }
            }
        }

        class Player {
            constructor(x, y, radius, color) {
                this.x = x;
                this.y = y;
                this.radius = radius;
                this.color = color;

                this.dx = 3
                this.dy = 3
            }

            draw(ctx) {
                ctx.beginPath();
                ctx.arc(this.x, this.y, this.radius, 0, Math.PI * 2, false);
                ctx.fillStyle = this.color;
                ctx.fill();
                ctx.closePath();

                this.update();
            }

            update() {
                window.addEventListener("keydown", function (event) {
                    if (event.defaultPrevented) {
                        return; // Do nothing if the event was already processed
                    }

                    switch (event.key) {
                    case "ArrowDown":
                        // code for "down arrow" key press.
                        this.y -= 10;
                        console.log(this.y);
                        break;
                    case "ArrowUp":
                        // code for "up arrow" key press.
                        this.y += 10;
                        console.log(this.y);
                        break;
                    case "ArrowLeft":
                        // code for "left arrow" key press.

                        break;
                    case "ArrowRight":
                        // code for "right arrow" key press.

                        break;
                    default:
                        return; // Quit when this doesn't handle the key event.
                    }

                    // Cancel the default action to avoid it being handled twice
                    event.preventDefault();
                    }, true);
                    // the last option dispatches the event to the listener first,
                    // then dispatches event to window
            }
        }

        const player1 = new Player(500, 500, 50, 'gold') // this will contain move)

        const bot = new Bot(100, 100, 50, colors[0]); // this will not contain move()

        const canvas = new Canvas(document.querySelector('canvas'));
        canvas.resize();
        canvas.addShape(bot);
        canvas.addShape(player1);

        function animate() {
            canvas.draw();
            requestAnimationFrame(animate);
        }

        animate();
    </script>
</body>

</html>