<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taylor's Circle Thing</title>
    <style>
        body {
            overflow: hidden;
            margin: 0px;
        }
    </style>
</head>

<body>
    <canvas></canvas>

    <script>
        class Canvas {
            // The canvas element
            constructor(canvas) {
                this.canvas = canvas;
                this.ctx = canvas.getContext('2d');

                // shapes array
                this.shapes = [];
            }

            addShape(shape) {
                this.shapes.push(shape);
            }

            removeShape(shape) {
                // filters out everything but shape
                this.shapes = this.shapes.filter(s => s !== shape);
            }

            // clears the canvas
            clear() {
                this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height);
            }

            // draws all shapes
            draw() {
                this.clear();
                this.shapes.forEach(shape => shape.draw(this.ctx));
            }

            // resize to window
            resize() {
                this.canvas.width = window.innerWidth;
                this.canvas.height = window.innerHeight;

                this.height = this.canvas.height;
                this.width = this.canvas.width;
            }

            animate() {
                this.draw();
                requestAnimationFrame(this.animate.bind(this));
            }
        }

        class Circle {
            constructor(radius) {
                this.radius = radius;
                const randomPosition = (dimension) => Math.random() * (dimension - (this.radius * 2)) + this.radius;

                this.initX = randomPosition(canvas.width);
                this.initY = randomPosition(canvas.height);

                this.teleport(this.initX, this.initY);

                const randomColor = () => Math.floor(Math.random() * 256);

                this.color = `rgb(${randomColor()}, ${randomColor()}, ${randomColor()})`;

                // velocity TODO: make these random

                const factor = 5;

                const newVelocity = () => Math.random() * factor - (factor / 2);

                this.dx = newVelocity();
                this.dy = newVelocity();
            }

            teleport(x, y) {
                this.x = x;
                this.y = y;
            }

            // draws shape
            draw(ctx) {
                ctx.beginPath();
                ctx.arc(this.x, this.y, this.radius, 0, Math.PI * 2, false); // draw circle
                ctx.fillStyle = this.color; // fill color
                ctx.fill(); // fill
                ctx.closePath();

                this.update(); // update position
            }

            // position update
            update() {
                this.x += this.dx;
                this.y += this.dy;

                // bounce off walls
                if (this.x + this.radius > canvas.width || this.x - this.radius < 0) {
                    this.dx *= -1;
                }

                if (this.y + this.radius > canvas.height || this.y - this.radius < 0) {
                    this.dy *= -1;
                }
            }
        }

        const canvas = new Canvas(document.querySelector('canvas'));
        canvas.resize();



        // circle
        // player
        // food
        // viruses
        // dispenser (teams only)
        const getXY = (e) => {
            if (Array.isArray(e.touches)) {
                return [e.touches[0].clientX, e.touches[0].clientY];
            } else {
                return [e.clientX, e.clientY];
            }
        }

        class Player extends Circle {
            constructor() {
                super(10);

                canvas.canvas.addEventListener('mousemove', this.mouseMove.bind(this));
                canvas.canvas.addEventListener('touchmove', this.mouseMove.bind(this));
            }

            mouseMove(e) {
                const [x, y] = getXY(e);
                const centerX = this.x;
                const centerY = this.y;

                let newX = x - centerX;
                let newY = y - centerY;

                // const distance = Math.sqrt(newX ** 2 + newY ** 2);

                // angle
                const angle = Math.atan2(newY, newX);

                const speed = Math.sqrt(this.dx ** 2 + this.dy ** 2);

                this.dx = Math.cos(angle) * speed;
                this.dy = Math.sin(angle) * speed;
            }

            draw(ctx) {
                super.draw(ctx);
            }

            eat(radius) {
                this.radius += radius;

                // DO THIS
            }

            destroy() {
                canvas.removeShape(this);
            }

            split() {

                } // not yet

            move() {

            }

            update() {
                this.x += this.dx;
                this.y += this.dy;
            }
        }



        const player = new Player();
        canvas.addShape(player);




        canvas.animate();
    </script>
</body>

</html>